<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="./css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.min.js" ></script>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js" ></script>
    <!--<script src="js/js.cookie.js"></script>-->
    <title>管理页面</title>
    <style type="text/css">

    </style>
</head>
<body>
    <div class="col">
        <div class="container">
            <h1 class="text-center">奖项设置</h1>
        </div>
        <div class="pannel panel-default">
            <div class="panel-heading">
                <h3>全部奖项</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>奖项名字</td>
                        <td>奖项人数</td>
                        <td>标识</td>
                        <td>增加</td>
                        <td>删除</td>
                        <td>修改</td>
                        <td>状态</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</body>
</html>